# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/
.env/
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Build files
dist/
build/

# API keys
.env
secrets.json
config.yaml

# Vector databases
chroma/
*.sqlite3

# PDF files
*.pdf

#node modules
node_modules/